.root {
    -fx-font: 11pt "Inter";
}

Button {
    -fx-padding: 5px 30px;
    -fx-text-fill: black;
}

.spacer {
    -fx-min-width: 400px;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 0);
}

.aside {
    -fx-background-color: blue;
    -fx-background-image: url('../media/temp_logo.png');
    -fx-background-size: cover;
}

.image-credit {
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-text-fill: white;
    -fx-padding: 5px;
}