.root {
    -fx-font: 11pt "Inter";
}

Button {
    -fx-padding: 5px 30px;
    -fx-text-fill: black;
}

.title {
    -fx-font-size: 28pt;
    -fx-text-fill: white;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 0);
}

.aside {
    -fx-background-color: -colour-aside;
    -fx-background-size: cover;
}

.image-credit {
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-text-fill: white;
    -fx-padding: 5px;
}

Hyperlink.image-credit {
    -fx-underline: true;
}