.root {
    -fx-font: 11pt "Inter";
}

.spacer {
    /*-fx-min-width: 50%;*/
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 0);
}

.aside {
    -fx-background-color: #444d8d;
    -fx-background-size: cover;
}

.image-credit {
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-text-fill: white;
    -fx-padding: 5px;
}

Hyperlink.image-credit {
    -fx-underline: true;
}