.container {
    -fx-padding: 40px 0px;
    -fx-alignment: center;
    -fx-spacing: 20px;
}

.endgame-title {
    -fx-font-size: 40pt;
}

.score-label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.score-label-container {
    -fx-alignment: center;
    -fx-padding: 30px 0;
}

.spacing {
    -fx-spacing: 5px;
    -fx-alignment: center;
}

.raised-button {
    -fx-pref-width: 200px;
}

/* Table Row Styling */
/* TODO: PORT TO NEW COLOUR SCHEMES SYSTEM */
.table-row-failed {
    -fx-background-color: #f66151;
}

.table-row-faulted {
    -fx-background-color: #ffbe6f;
}

.table-row-passed {
    -fx-background-color: #8ff0a4;
}

.table-row-skipped {
    -fx-background-color: #99c1f1;
}