.root {
    -fx-background-color: #1e2b36;
}

.container {
    -fx-padding: 140px 175px;
    -fx-alignment: center;
    -fx-spacing: 20px;
}

.score-label {
    -fx-font: 18px Inter;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.hbox-spacing {
    -fx-spacing: 10px;
    -fx-alignment: center;
}