.header {
    -fx-padding: 24px 40px;
    -fx-spacing: 10px;
}

.topic {
    -fx-font-size: 40px;
    -fx-padding: 0 0 5px 0;
}

.question {
    -fx-font-size: 20px;
}

.central {
    -fx-spacing: 10px;
    -fx-padding: 0 200px;
    -fx-alignment: center;
}

.macron-button-box {
    -fx-spacing: 10px;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-padding: 10px 0;

    -fx-border-color: #5e5c64;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

.text-field:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-field-incorrect {
    -fx-border-color: #e01b24;
}

.skip-button {
    -fx-font-size: 11pt;
    -fx-padding: 5px 10px;
}

/* Submit Button Variation */
.submit-button {
    -fx-background-color: -colour-success;
    -fx-border-color: -colour-success-border;
    -fx-pref-width: 150px;
}

.submit-button:hover {
    -fx-background-color: -colour-success-hover;
}

.submit-button:pressed {
    -fx-background-color: -colour-success-pressed;
}

/* Quit Button Variation */
.quit-button {
    -fx-font-size: 11pt;
    -fx-padding: 5px 10px;
    -fx-border-color: -colour-failure;
}

.quit-button:hover {
    -fx-border-color: -colour-failure-hover;
}

/* Play Button Variation */
.play-button {
    -fx-background-color: -colour-neutral;
    -fx-border-color: -colour-neutral-border;
}

.play-button:hover {
    -fx-cursor: hand;
    -fx-background-color: -colour-neutral-hover;
}

.play-button:pressed {
    -fx-background-color: -colour-neutral-pressed;
}

/*
 * Hints box
 */

.hint-container {
    -fx-spacing: 1px;
}

.hint-container > Label {
    -fx-font-weight: bold;
    -fx-font-family: monospace;
    -fx-pref-width: 13px;
}

.hint-container > Label.letter-not-match {
    -fx-text-fill: #e01b24;
}

.macron-button {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.bottomcorner {
    -fx-padding: 40px;
}