/*
 * TODO: Change this file
 * TEMPORARY STYLING
 */

.root {
    -fx-background-color: #1e2b36;
}

.container {
    -fx-padding: 20px 24px;
    -fx-spacing: 10px;
    -fx-text-fill: white;
}

.topic {
    -fx-font: 40px Inter;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.title {
    -fx-font: 24px Inter;
    -fx-text-fill: white;
}

.central {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.central-padding {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 0px 70px;
}

.central-gap {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 50px 0px;
}

Slider {
    -fx-scale-x: 0.9px;
}

ToggleButton {
    -fx-padding: 5px 30px;
    -fx-text-fill: black;
    -fx-font: 12px Inter;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.rightshift {
    -fx-alignment: center right;
}

Button {
    -fx-padding: 5px 30px;
    -fx-text-fill: black;
    -fx-font: 12px Inter;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

Label {
    -fx-text-fill: white;
}

.spacer {
    -fx-min-width: 400px;
}