.header {
    -fx-padding: 24px 40px;
    -fx-spacing: 10px;
}

.topic {
    -fx-font-size: 40px;
    -fx-padding: 0 0 5px 0;
}

.question {
    -fx-font-size: 20px;
}

.central {
    -fx-spacing: 10px;
    -fx-padding: 0 200px;
    -fx-alignment: center;
}

.macron-button-box {
    -fx-spacing: 10px;
}

.speed-button-box {
    -fx-border-color: #deddda;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
}

.speed-button-box ToggleButton {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.speed-button-box ToggleButton:hover {
    -fx-cursor: hand;
}

.speed-button-box ToggleButton:selected {
    -fx-background-color: #deddda;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-padding: 10px 0;

    -fx-border-color: #5e5c64;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

.text-field:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-field-incorrect {
    -fx-border-color: #e01b24;
}

.skip-button {
    -fx-font-size: 11pt;
    -fx-padding: 5px 10px;
}

/* Submit Button Variation */
.submit-button {
    -fx-background-color: #33d17a;
    -fx-border-color: #26a269;
    -fx-pref-width: 150px;
}

.submit-button:hover {
    -fx-background-color: #2ec27e;
}

.submit-button:pressed {
    -fx-background-color: #26a269;
}

.macron-button {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}