.container {
    -fx-padding: 40px;
    -fx-spacing: 20px;
}

.title {
    -fx-text-fill: black;
}

.pref-entry {
    -fx-font-weight: bold;
}

.image {
    -fx-background-image: url("media/default.jpg");
    -fx-background-size: cover;
}