.container {
    -fx-padding: 40px;
    -fx-spacing: 20px;
}

.title {
    -fx-text-fill: black;
}

.pref-entry {
    -fx-font-weight: bold;
}

/* Styling for image box */
.aside {
    -fx-background-size: contain;
    -fx-background-position: center;
}

