.container {
    -fx-padding: 100px 200px;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.encouragement {
    -fx-font-size: 16pt;
    -fx-font-style: italic;
}

.score-label {
    -fx-font-size: 12pt;
}


.score-label-current {
    -fx-font-size: 14px;
}

.answer-label {
    -fx-font-size: 12pt;
}

.answer-title {
    -fx-font-weight: bold;
}

.next-button {
    -fx-spacing: 10px;
}

.result-text {
    -fx-font-weight: bold;
    -fx-font-size: 30pt;
}

/*
 * Answer box section
 */

.answer-container-spacing {
    -fx-padding: 20px 0 0 0;
}

.answer-label-container {
    -fx-padding: 25px;
    -fx-background-color: #3d3846;
    -fx-background-radius: 15px;
    -fx-background-insets: 5px;
}

.answer-label-container > * {
    -fx-text-fill: white;
}

.answer-skipped {
    -fx-background-color: #3584e4;
}

.answer-incorrect {
    -fx-background-color: #e01b24;
}

.answer-correct {
    -fx-background-color: #33d17a;
}