/*
 * TODO: Change this file
 * TEMPORARY STYLING
 */

.root {
    -fx-background-color: #1e2b36;
}

.container {
    -fx-padding: 100px 200px;
    -fx-alignment: center;
}

.encouragement {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.title {
    -fx-font-size: 24pt;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.score-container * {
    -fx-font-size: 14pt;
    -fx-text-fill: white;
}

.score-label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.score-label-total {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 0 10px 0 0;
    -fx-alignment: baseline-center;
}

.score-label-current {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-alignment: baseline-center;
}

Button {
    -fx-padding: 5px 30px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.spacer {
    -fx-min-width: 400px;
}

.central-padding {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 0px 70px;
}
