/*
 * TODO: Change this file
 * TEMPORARY STYLING
 */

.root {
    -fx-background-color: #1e2b36;
}

.container {
    -fx-padding: 100px 200px;
    -fx-alignment: center;
}

.encouragement {
    -fx-font: 14px Inter;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.title {
    -fx-font: 40px Inter;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.score-label {
    -fx-font: 18px Inter;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

Button {
    -fx-padding: 5px 30px;
    -fx-text-fill: black;
    -fx-font: 12px Inter;
    -fx-font-weight: bold;
}

.spacer {
    -fx-min-width: 400px;
}

.central-padding {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 0px 70px;
}

.hbox-spacing {
    -fx-spacing: 10px;
    -fx-alignment: center;
}