/*
 * TODO: Change this file
 * TEMPORARY STYLING
 */

.root {
    -fx-background-color: #1e2b36;
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.title {
    -fx-font: 40px Inter;
    -fx-text-fill: White;
    -fx-font-weight: bold;
}

.scoreLabel {
    -fx-font: 18px Inter;
    -fx-text-fill: White;
    -fx-font-weight: bold;
}

Button {
    -fx-padding: 5px 30px;
    -fx-text-fill: black;
    -fx-font: 12px Inter;
    -fx-font-weight: bold;
}

MenuBar {
    -fx-background-color: red;
}

.spacer {
    -fx-min-width: 400px;
}

.HBoxSpacing {
    -fx-spacing: 10px;
}