/*
 * TODO: Change this file
 * TEMPORARY STYLING
 */

.root {
    -fx-background-color: linear-gradient(to bottom right, #1A2980, #26D0CE);
}

.container {
    -fx-padding: 120px 200px;
    -fx-alignment: center;
}

.title {
    -fx-font: 40px Inter;
    -fx-text-fill: White;
    -fx-font-weight: bold;
}

.scoreLabel {
    -fx-font: 18px Inter;
    -fx-text-fill: White;
    -fx-font-weight: bold;
}

Button {
    -fx-padding: 5px 30px;
    -fx-text-fill: black;
    -fx-font: 12px Inter;
    -fx-font-weight: bold;
}

.spacer {
    -fx-min-width: 400px;
}

.HBoxSpacing {
    -fx-spacing: 10px;
    -fx-alignment: center;
}