.container {
    -fx-padding: 40px 0px;
    -fx-alignment: center;
    -fx-spacing: 20px;
}

.title-container {
    -fx-alignment: center;
    -fx-spacing: 5px;
}

.endgame-title {
    -fx-font-size: 32pt;
}

.endgame-topic {
    -fx-font-size: 20pt;
}

.mini-score-label-container Label {
    -fx-font-size: 18pt;
}

.mini-score-label {
    -fx-font-weight: bold;
    -fx-padding: 0 5px 0 10px;
}

.mini-score-label-suffix {

}

.score-label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.score-label-container {
    -fx-alignment: center;
    -fx-padding: 30px 0;
}

.spacing {
    -fx-spacing: 15px;
    -fx-alignment: center;
}

.raised-button {
    -fx-pref-width: 150px;
}

/* Table Row Tints */
.table-row-failed {
    -fx-background-color: -colour-failure-tint;
}

.table-row-faulted {
    -fx-background-color: -colour-faulted-tint;
}

.table-row-passed {
    -fx-background-color: -colour-success-tint;
}

.table-row-skipped {
    -fx-background-color: -colour-neutral-tint;
}

/* Table Styling */
/* See https://edencoding.com/style-tableview-javafx/ for CSS selectors */
.table-view {
    -fx-background-color: #fafafa;
    -fx-text-fill: black;
    -fx-border-style: solid;
    -fx-border-color: rgba(0,0,0,0.5);
    -fx-border-radius: 4px;
}

.table-view .table-cell {
    -fx-border-color: transparent;
}

.table-row-cell .text,
.table-row-cell:selected .text {
    -fx-fill: rgba(0,0,0,0.9);
}

/* A hint to click on the background to generate confetti */
.fun-hint {
    -fx-text-fill: rgba(0,0,0,0.4);
}