/*
 * TODO: Change this file
 * TEMPORARY STYLING
 */

.root {
    -fx-background-color: #1e2b36;
    -fx-padding: 20px;
    -fx-spacing: 10px;
}

* {
    -fx-text-fill: white;
}

Button {
    -fx-padding: 5px 30px;
    -fx-text-fill: black;
}

.spacer {
    -fx-min-width: 400px;
}