/*
 * TODO: Change this file
 * TEMPORARY STYLING
 */

.root {
    -fx-background-color: #1e2b36;
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-font: 11pt "Inter";
}

.main-menu {
    -fx-background-color: #39C9BB;
}

* {
    -fx-text-fill: white;
}

Button {
    -fx-padding: 5px 30px;
    -fx-text-fill: black;
}

Button.menu-btn {
    -fx-font-weight: bold;
    -fx-padding: 10px 15px;
    -fx-border-insets: 5px 0;

    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
}

.spacer {
    -fx-min-width: 400px;
}

.title {
    -fx-font-size: 28pt;
    -fx-padding: 35px 0 25px 0;
}