.container {
    -fx-alignment: CENTER;
    -fx-padding: 40px;
    -fx-spacing: 5px;
}

.hero-text {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.outline-button {
    -fx-background-color: #fafafa;
    -fx-border-insets: 0 0 80px 0;
    -fx-background-insets: 0 0 80px 0;
}